---
---

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

html,body {
    margin:0;
    padding:0;
}

html {
    background-color: rgb(47, 62, 70);
    font: 20px/1.625em Quicksand, sans-serif;
}

body {
    max-width: 800px;
    margin: 2rem auto;
}

